<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blue.mapper.PowerMapper">
	<resultMap type="cn.blue.bean.Power" id="powerMapper">
		<id column="ID" property="id"/>
		<result column="PID" property="pid"/>
		<result column="NAME" property="name"/>
		<result column="URL" property="url"/>
		<result column="TYPE" property="type"/>
		<result column="STATUS" property="status"/>
		<collection property="childs" ofType="cn.blue.bean.Power" select="find" column="{pid=id}"></collection>
	</resultMap>
	
	<sql id="Base_Column">ID,PID,NAME,URL,TYPE,STATUS</sql>
	<sql id="Add_Column">PID,NAME,URL,TYPE</sql>
	<sql id="Base_Where">
		<where>
			<if test="id != null">
				AND ID=#{id}
			</if>
			<if test="pid != null">
				AND PID=#{pid}
			</if>
			<if test="type != null">
				AND TYPE=#{type}
			</if>
			<if test="name != null and name != ''">
				AND NAME like concat ('%',#{name},'%')
			</if>
			<if test="url != null and url != ''">
				AND URL=#{url}
			</if>
			<if test="status != null">
				AND STATUS=#{status}
			</if>
		</where>
	</sql>
	
	<sql id="Update_Column">
		<set>
			<if test="pid != null">
				PID=#{pid},
			</if>
			<if test="name != null and name != ''">
				NAME=#{name},
			</if>
			<if test="url != null and url != ''">
				URL=#{url},
			</if>
			<if test="type != null">
				TYPE=#{type},
			</if>
			<if test="status != null">
				STATUS=#{status},
			</if>
		</set>
	</sql>
	
	<select id="find" parameterType="cn.blue.bean.Power" resultMap="powerMapper">
		select <include refid="Base_Column"></include>
		from power
		<include refid="Base_Where"></include>
	</select>
	
	<select id="findById" parameterType="int" resultMap="powerMapper">
		select 
		<include refid="Base_Column"></include>
		from power
		where id=#{id}
	</select>
	
	<select id="findOnePower" parameterType="int" resultType="cn.blue.bean.Power">
		SELECT <include refid="Base_Column"></include>
		FROM  
		power p,role_power rp
		WHERE
		p.id=rp.power_id AND rp.role_id = #{roleId}
	</select>
	
	<delete id="deletePowerMappingByRoleId" parameterType="int">
		delete from role_power where role_id=#{roleId}
	</delete>
	
	<select id="findByRoleId" parameterType="int" resultType="cn.blue.bean.Power">
		select p.*
		FROM  
		power p,role_power rp
		WHERE
		p.id=rp.power_id 
		AND rp.role_id = #{roleId}
	</select>
	
	<insert id="insert" parameterType="cn.blue.bean.Role">
		INSERT INTO power(<include refid="Add_Column"></include>)
		VALUE(#{pid},#{name},#{url},#{type})
	</insert>
	
	<insert id="addPowerByPId" parameterType="cn.blue.bean.Power">
		INSERT INTO power(<include refid="Add_Column"></include>)
		VALUE(#{id},#{name},#{url},#{type})
	</insert>
	
	<update id="update" parameterType="cn.blue.bean.Power">
		update power 
		<include refid="Update_Column"></include>
		where id=#{id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from power 
		where
		<foreach collection="ids" open="id in (" close=")"
			separator="," item="id">
			#{id}
		</foreach>
	</delete>
</mapper>