<!DOCTYPE html>
<!--代码由www.magicalcoder.com可视化布局器拖拽生成-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>layui</title>
<link rel="stylesheet" type="text/css"
	data-th-href="@{/layui/css/layui.css}"
	href="../../static/layui/css/layui.css" />
<script data-th-src="@{/layui/layui.js}"
	src="../../static/layui/layui.js"></script>
<script data-th-src="@{/commons.js}" src="../../static/commons.js"></script>
<!--layui的table col操作列自定义的模板 您可以根据自己的实际情况改动-->
<script type="text/html" id="tableToolbar">
		<div class="layui-inline" lay-event="add"><i class="layui-icon layui-icon-add-1"></i></div>
    <div class="layui-inline" lay-event="update"><i class="layui-icon layui-icon-edit"></i></div>
    <div class="layui-inline" lay-event="delete"><i class="layui-icon layui-icon-delete"></i></div>
  </script>
<script type="text/html" id="tableColToolbar">
		<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>
</head>
<body class="layui-form" style="background-color: #eee; padding: 20px;">
	<div class="layui-container">
		<form class="layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label">角色名</label>
				<div class="layui-input-block">
					<input class="layui-input"
						name="name" type="text" lay-verType="tips"
						lay-verify="required" autocomplete="off" placeholder="请输入角色名" />
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline"></div>
			</div>
			<div class="layui-form-item">
				<div class="layui-row">
					<div class="layui-col-md12 layui-col-lg12"
						style="text-align: center">
						<a
							class="layui-btn layui-anim layui-anim-scale layui-btn-radius layui-btn-normal"
							lay-submit lay-filter="insert">保存</a><a
							class="layui-btn layui-btn-radius layui-btn-warm">取消</a>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="layui-btn-group"></div>
</body>
<script type="text/javascript">
	layui.use(['form','layer','jquery'],function(){
		let table = layui.table, 
		$ = layui.jquery,
		form = layui.form;
		form.on('submit(insert)',function(data){
// 			console.log(data.field);
			$.ajax({
				url: '[[@{/role/insert}]]',
				data: data.field,
				type: 'get',
				dataType: 'json',
				success:function(rs){
					if(rs.code === 0){
						layer.msg(rs.msg);
						parent.reload();
						var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
						parent.layer.close(index);
					}else{
						layer.msg(rs.msg)
					}
				}
			})
		})
	})
</script>
</html>
