<!DOCTYPE html>
<!--代码由www.magicalcoder.com可视化布局器拖拽生成-->
<html>
<head>
<meta charset="UTF-8">
<title>角色管理</title>
<link rel="stylesheet" type="text/css"
	data-th-href="@{/layui/css/layui.css}"
	href="../../static/layui/css/layui.css" />
<script data-th-src="@{/layui/layui.js}"
	src="../../static/layui/layui.js"></script>
<script data-th-src="@{/commons.js}" src="../../static/commons.js"></script>
<!--layui的table col操作列自定义的模板 您可以根据自己的实际情况改动-->
<script type="text/html" id="tableToolbar">
		<div class="layui-inline" title="新增" lay-event="add"><i class="layui-icon layui-icon-add-1"></i></div>
		<div class="layui-inline" title="批量删除" lay-event="delete"><i class="layui-icon layui-icon-delete"></i></div>
	</script>
<script type="text/html" id="tableColToolbar">
	<a class="layui-btn layui-btn-sm" lay-event="power">关联权限</a>
	<a class="layui-btn layui-btn-sm layui-btn-green" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-sm layui-btn-green" lay-event="del">删除</a>
	</script>
<script type="text/html" id="statusTemp">
		{{# if(d.status == 1){ }}
		<i class="layui-icon layui-icon-ok-circle" style="font-size:24px;color: #0f0;"></i>
		{{# }else{ }}
		<i class="layui-icon layui-icon-close-fill" style="font-size:24px;color: #f00;"></i>
		{{# } }}
	</script>
</head>
<body style="background-color: #eee; padding: 20px;">
	<form class="layui-form">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">角色名</label>
				<div class="layui-input-inline">
					<input name="name" class="layui-input" type="text"
						autocomplete="off" placeholder="请输入角色名"  id="search"/>
					<a class="layui-btn layui-icon layui-icon-search layui-btn-radius layui-btn-normal" 
					 lay-filter="search" lay-submit style="position:relative;left: 205px;top:-38px;">查询</a>
				</div>
			</div>
		</div>
	</form>
	<div id="list" class="magicalcoder-table layui-anim layui-anim-fadein"
		mc-attr-bool-loading="true" data-th-mc-attr-str-url="@{/role}"
		mc-attr-str-toolbar="#tableToolbar" mc-attr-json-default-toolbar="[]"
		mc-attr-bool-page="true" mc-attr-bool-even="true" lay-filter="roles"
		mc-attr-str-method="post" mc-attr-str-title="角色管理"
		mc-attr-json-where='{"status":1}'>
		<span class="magicalcoder-table-th" mc-attr-str-field="id"
			mc-attr-str-type="checkbox"></span> <span
			class="magicalcoder-table-th" mc-attr-str-field="id">ID</span> <span
			class="magicalcoder-table-th" mc-attr-str-field="name">名称</span> <span
			class="magicalcoder-table-th" mc-attr-str-toolbar="#tableColToolbar">操作</span>
	</div>
</body>
<script>
	layui.use([ "table", "jquery", "form" ], function() {
		let table = layui.table, $ = layui.jquery, form = layui.form;
		// 在外面使用var，或者不使用，全局变量
		reload = function(params) {
			if (reload.arguments.length == 0) {
				params = {}
			}
			table.reload("list", {
				where : params
			});
		}
		
		// 搜索框
		form.on("submit(search)", function(data) {
			let field=data.field;
			console.log(field);
			reload(field);
			return false;
		});
		
		table.on('tool(roles)', function(obj) {
			var data = obj.data;
			if (obj.event === 'edit') {
				layer.open({
					type : 2,
					area : [ '400px', '300px' ],
					content : '[[@{/role/editor}]]/' + data.id //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
				});
			} else if (obj.event === 'del') {
				layer.confirm(`是否确定删除角色名:${data.name}`, function(index) {
					// 调用deleteById函数删除，再code==0，然后调reload刷新页面. 使用callback应该是因为返回rs;this=rs;
					deleteById(data.id, function() {
						if (this.code === 0) {
							reload();
						}
						layer.close(index);
					})
				});
			} else if(obj.event === 'power'){
				layer.open({
					type : 2,
					area : [ '400px', '300px' ],
					content : '[[@{/role/powerMapping}]]/' + data.id //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
				});
			}
		})

		table.on('toolbar(roles)', function(obj) {
			var data = obj.data;
			var checkStatus = table.checkStatus(obj.config.id);
			switch (obj.event) {
			case 'add':
				layer.open({
					type : 2,
					area : [ '400px', '300px' ],
					content : '[[@{/role/add}]]' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
				});
				break;
			case 'delete':
				let data = checkStatus.data; //得到选中行数据
				let ids = [];
				for (let i in data) {
					ids.push(data[i].id);
					console.log(data[i].id);
				}
				layer.confirm(`是否进行批量删除:${ids}`, function() {
					deleteByIds(ids, function() {
						if (this.code == 0) {
							reload();
						}
						layer.msg(this.msg);
						layer.close(index);
					});
				})
				break;
			}
		})

		function deleteById(id, callback) {
			$.ajax({
				url : '[[@{/role/delete?id=}]]' + id,
				type : 'get',
				dataType : 'json',
				success : function(rs) {
					if (typeof callback === 'function') {
						callback.call(rs);
						layer.msg(rs.msg);
					}
				}
			});
		}
		
		function deleteByIds(ids, callback) {
			$.ajax({
				url : '[[@{/role/del}]]',
				data: {
					ids: ids
				},
				traditional: true,
				type : 'get',
				dataType : 'json',
				success : function(rs) {
					if (typeof callback === 'function') {
						callback.call(rs);
						layer.msg(rs.msg);
					}
				}
			});
		}
		
// 		window.query = function() {
// 			$.ajax({
// 				url : '[[@{/role/search}]]',
// 				data: {
// 					name: $("#search").val()
// 				},
// 				type : 'get',
// 				dataType : 'json',
// 				success : function(rs) {
// 					if (rs.code === 0) {
// 					console.log(rs);
// 						reload();
// 						layer.msg(rs.msg);
// 					}
// 				}
// 			});
// 		}
		
		
		
// 		$(".layui-btn-query").click(function(){
//			query();
// 			alert("点击了");
			
// 		});
		
		
		
//		直接前端layui页面就查询出来了   a标签中加lay-filter="query" lay-submit
// 		form.on("submit(query)", function(data) {
// 			let field=data.field;
// 			console.log(field);
// 			reload(field);
// 			return false;
// 		});
	})
</script>
</html>
