<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blue.mapper.RoleMapper">
	<resultMap type="cn.blue.bean.Role" id="roleMapper">
		<id column="ID" property="id"/>
		<result column="NAME" property="name"/>
		<result column="STATUS" property="status"/>
		<collection column="id" property="powers" ofType="cn.blue.bean.Role" select="cn.blue.mapper.PowerMapper.findOnePower"></collection>
	</resultMap>
	
	<sql id="Base_Column">ID,NAME,STATUS</sql>
	
	<sql id="Base_Where">
		<where>
			<if test="id != null">
				AND ID = #{id}
			</if>
			<if test="name != null and name != ''">
				AND NAME like concat('%',#{name},'%')
			</if>
			<if test="status != null">
				AND STATUS=#{status}
			</if>
		</where>
	</sql>
	
	<sql id="Update_Column">
		<set>
			<if test="id != null">
				ID=#{id},
			</if>
			<if test="name != null and name != ''">
				NAME=#{name},
			</if>
			<if test="status != null">
				STATUS=1,
			</if>
		</set>
	</sql>
	
	<select id="find" parameterType="cn.blue.bean.Role" resultMap="roleMapper">
		SELECT <include refid="Base_Column"></include>
		FROM role
		<include refid="Base_Where"></include>
	</select>
	
	<select id="findOneRole" parameterType="cn.blue.bean.Role" resultMap="roleMapper">
		select <include refid="Base_Column"></include>
		from role
		<include refid="Base_Where"></include>
	</select>
	
	<select id="selectOneRole" parameterType="cn.blue.bean.Role" resultMap="roleMapper">
		select <include refid="Base_Column"></include>
		from role
		<include refid="Base_Where"></include>
	</select>
	
	<update id="updateName" parameterType="cn.blue.bean.Role">
		update role set name = #{role.name}
		where id = #{role.id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from role where id = #{id}
	</delete>
	
	<delete id="deleteRoleByUserId" parameterType="int">
		delete from user_role where user_id=#{userId}
	</delete>
	
	<insert id="insert" parameterType="cn.blue.bean.Role" 
		useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into role(name) values(#{name})
	</insert>
	
	<update id="deleteByIds">
		update role set status= 1
		where 
		<foreach item="id" separator="," close=")" open="id in (" collection="ids">#{id} </foreach>
	</update>
	
	<select id="findRoleByUserId" parameterType="int" resultMap="roleMapper">
		SELECT <include refid="Base_Column"></include>
		FROM role r,user_role ur
		WHERE r.id=ur.role_id
		AND ur.user_id=#{userId}
	</select>
	
	<insert id="addPowerMapping">
		insert into role_power
		<foreach collection="powerIds" open="values" item="powerId" separator=",">
			(#{roleId},#{powerId})
		</foreach>
	</insert>
</mapper>